#log {
    width: 70%;
    font-family: monospace;
}

#controls {
    float: right;
    width: 30%;
    text-align: center;
    background-color: #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

#controls button {
    width: 70%;
    font-size: 20px;
    border: 1px solid #000;
    background-color: #eee;
}

#controls button:hover {
    background-color: #999;
}

#controls button:active {
    background-color: #777;
}

#controls_layers .layer {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

#controls .tilearea {
    margin-left: 20px;
    margin-right: 20px;
}

#controls .tilearea .tilearea_label {
    text-align: right;
}

#controls .tilearea input {
    width: 100px;
}

#controls .aggregate {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}